    * {
      box-sizing: border-box;
    }

    .checkout {
      position: absolute;
      margin-top: -5%;
      margin-left: 10%;
      color: grey;
      font-size: 1.5em;
    }

    .Hr {
      position: absolute;
      margin-top: -2%;
      width: 50%;
      margin-left: 10%;
      border-top: 2px solid grey;
    }

    .background-col {
      margin-left: 10%;
      padding-left: 50px;
      padding-top: 50px;
      margin-top: 9%;
      background-color: #f6f9fc;
      width: 50%;
    }

    h1 {
      color: #32325d;
      font-weight: 400;
      line-height: 50px;
      font-size: 40px;
      margin: 20px 0;
      padding: 0;
    }

    .Checkout {
      margin: 0 auto;
      max-width: 800px;
      box-sizing: border-box;
      padding: 0 5px;
    }

    /* label {
      color: #6b7c93;
      font-weight: 300;
      letter-spacing: 0.025em;
    } */

    form {
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 3px solid #e6ebf1;
    }

    .StripeElement {
      display: block;
      margin: 10px 0 20px 0;
      max-width: 500px;
      padding: 10px 14px;
      font-size: 1em;
      font-family: 'Source Code Pro', monospace;
      box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
      border: 0;
      outline: 0;
      border-radius: 4px;
      background: white;
    }

    input::placeholder {
      color: #aab7c4;
    }

    input:focus,
    .StripeElement--focus {
      box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
      -webkit-transition: all 150ms ease;
      transition: all 150ms ease;
    }

    .StripeElement.IdealBankElement,
    .StripeElement.PaymentRequestButton {
      padding: 0;
    }
